.profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3%;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  width: 70%
}

.card-avatar {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 0.3em; 
  width: 20rem;
  height: 20rem;
}

.card-avatar:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.avatar-container {
  padding: 10%;
}

.img-avatar {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 2px solid #222745;
  margin-top: 20px;
}

.profile-settings {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 90%;
}

.profile-settings li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
