.no-border {
  border: none;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}
.width-40 {
  max-width: 40%;
  min-width: 40%;
}

.width-60 {
  max-width: 60%;
  min-width: 60%;
}

.width-80 {
  max-width: 60%;
  min-width: 60%;
}

.width-37 {
  max-width: 37%;
  min-width: 37%;
}

.width-10 {
  max-width: 10%;
  min-width: 10%;
}

.width-15 {
  max-width: 15%;
  min-width: 15%;
}
.profile-history li div{
  vertical-align: middle;
}

.no-overflow {
  overflow:unset;
}

.all-reports-line {
  
}

.salary-title-div {
  text-align: center;
}
