@import '~antd/dist/antd.css';

.recomendation-container {
  display: flex;
  justify-content: center;
  /* background-color: brown; */
  padding-top: 2em;
  font-size: 1.5em;
}

.col-recom {
  background-color: aliceblue;
}

.col-recom-left {
  /* border-right: 2px solid black; */
  margin-right: 1em;
}

.li {
  /* color: red; */
  text-align: center;
}

.skill-div {
  background: #fff;
  border: 1px solid #fff ;
  border-radius: 2px;
  margin: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 5px;
}
