@import '~antd/dist/antd.css';

.recomendation-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: brown; */
  padding-top: 2em;
  font-size: 1.5em;
}

.col-recom {
  background-color: aliceblue;
  min-width: 20em;
  border-radius: 5px;
}

.col-recom-left {
  /* border-right: 2px solid black; */
  margin-right: 1em;
}

.li {
  /* color: red; */
  text-align: center;
}

.skill-div {
  background: #fff;
  border: 1px solid rgb(180, 179, 179) ;
  border-radius: 2px;
  margin: 7px 10px;
  padding: 0 0.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.h2-recommend{
  text-align: center;
  font-size: 1em;
  color: rgb(14, 100, 14);
}
