.vacancy-div {
  background: #fff;
  border: 1px solid #fff ;
  border-radius: 2px;
  margin: 5px;
  padding: 0 0.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 5px;
  min-width: 25em;
  max-width: 40em;
  text-align: center;
}
