.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  background: rgb(60, 125, 186);
  border: 1px solid #fff;
  border-radius: 2px;
  margin: 0 5px 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 5px;
}

/* .btn-delete {
  position: absolute;
  right: 0;
} */

.card-span {
  margin-left: 1em;
}

.ant-row > div:last-child .ant-rate {
  visibility: hidden;
}

.stars {
  justify-self: right;
  margin-left: auto;
  margin-right: 1em;
}
