@import '~antd/dist/antd.css';

.result-column-left {
  width: 100%;
}

.result-container {
  display: flex;
  justify-content: center;
  /* background-color: brown; */
  padding-top: 2em;
  font-size: 1.5em;
}

.column {
  padding: 10px;
  border-bottom: 2px solid black;
  height: 4em;
  text-align: center;
}
.column-middle {
  padding: 10px;
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: column;
}

.col {
  background-color: aliceblue;
  min-width: 20em;
}

.col-left {
  margin-right: 1em;
}

.line-style {
  display: flex;
  justify-content: space-between;
}

a.center-button {
  margin-top: 2em;
  text-align: center;
}

.marg-top-1em {
  margin-top: 1em;
}

.padd-1em {
  padding: 1em;
}

.bgcol-white {
  background-color: white;
}
