.search-page {
  display: flex;
}

.filters-page {
  width: 50%;
  min-height: 100%;
  padding: 1em;
}

.filters-page form {
  border-right: 1px solid #919191;
  width: 100%;
  height: 100%;
  padding-top: 1em;
}

.history-page {
  width: 50%;
  min-height: 100%;
  /* border: 1px solid red; */
}

.search-line {
  display: flex;
  width: 100%;
}

.search-line>div {
  width: 50%;
}

.fullwidth {
  width: 100%;
}

.flex-col{
  display:flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.site-logo {
  width: 40px;
  margin-right: 10px;
}

.switch-line {
  text-align: center;
}

.switch-line span {
  margin: 0 1em;
}

.search-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.ant-form-item-label > label::after {
    content: '';    
}
.explain {
  margin: -1.5em 0 2em 11em;
  font-size: small;
}

.headers {
  display: flex;
  justify-content: space-around;
}

.ant-form-item-label > label {
  font-size: 1em;
}
