@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.login-window {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-display {
  /* background-color: white; */
  background: rgba( 34, 39, 69,.6);
  /* border: 1px solid grey; */
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  /* padding: 50px 35px; */
  padding: 3em 2em 1em;
  /* width: 60%; */
  height: 300px;
  width: 900px;
}

.message {
  color: red;
  margin-bottom: 10px;
}

.login-button {
  display: flex;
  justify-content: center;
}

.login-input {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color:white;
}
