@import '~antd/dist/antd.css';

body {

  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  padding: 0;
  margin: 0;
  /* width: 100vw !important;
  height: 100vh !important; */
  overflow:hidden;
 
}

#root {
  width: 99%;
  min-height: 100vh;
}

.ant-layout-content {
  width: 100%;
  min-height: 91vh !important;
  /* max-height: 90vh !important; */
   
}

main  {
    background: url('../public/img/1.png') no-repeat;
  background-size: cover;
}

.App {
  width: 100%;
  height: 100%;
 
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  /* background: #fff; */
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}



.content {
  /* min-width: 100%; */


  margin-top: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #f0f2f5; */
}

.main-top {
  min-height: 15vh;
  font-family: 'Source Serif 4', sans-serif;
  color: #001529;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 6em;
}
.picture-container {
  min-height: 60vh;
  background: url('../public/img/main-min.png') no-repeat;
  background-position: top;

}

.main-bottom {
  min-height: 5vh;
}

footer {
  /* margin-top: 1em; */
  background-color: #001529 !important;
  color: #fff !important;
  max-height: 5vh;
  min-height: 4vh;
  padding: 10px 50px !important;
}




.oval {
 position: relative;
 background: none !important;
 background-color: white !important;
 border: 1px solid #7d9185;
 width: 400px;
 height: 200px;
}
.oval:after, p:before {
 left: 100%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}
 
.oval:after {
 border-color: rgba(255, 255, 255, 0);
 border-left-color: #ffffff;
 border-width: 18px;
 top: 50%;
 margin-top: -18px;
}
.oval:before {
 border-color: rgba(125, 145, 133, 0);
 border-left-color: #7d9185;
 border-width: 19px;
 top: 50%;
 margin-top: -19px;
}
