@import '~antd/dist/antd.css';

body {

  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  padding: 0;
  margin: 0;
  width: 100vw !important;
  height: 100vh !important;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.ant-layout {
  width: 100%;
  min-height: 100vh !important;
}

.App {
  width: 100%;
  height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}


.content {
  /* min-height: 100%; */
  /* min-width: 100%;
  min-height: 85vh; */
  /* background: url('../public/img/job_effect_1522699664.jpg') no-repeat; */
  /* background: url('../public/img/searchJob.jpeg') no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1; */
}

footer {
  margin-top: 1em;
  background-color: #001529 !important;
  color: #fff !important;
  max-height: 5vh;
  padding: 10px 50px !important;
}

/* .picture-container {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  max-height: 85vh;
  background: url('../public/img/searchJob.jpeg') no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
}
.picture-container img {
  min-width: 100%;
  height: 100%;
} */
