.contact-form {
  max-width: 1100px;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 20px -2px #1f2235;
  border-radius: 12px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2235;
  text-align: left;
}

.back-form {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
}

.back-form .img-back {
  width: 100%;
  margin-bottom: 20px;
}

.img-back {
  flex: 1 1;
  align-self: center;
  margin-right: 20px;
  vertical-align: middle;
  border-style: none;
  
}

.contact-form form {
  width: auto;
  box-shadow: 0 0 2px 1px #fff;
  display: flex;
  color: #111;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  margin-top: -52px;
  opacity: .9;
  background-color: #fff;
  box-shadow: 0 0 20px -2px #1f2235;
  border-radius: 12px;
}

form label {
  margin-bottom: 5px;
  color: #111;
  letter-spacing: .2rem;
}

form input, textarea {
  width: 100%;
  border: 2px solid transparent;
  outline: none;
  background-color: hsla(0,0%,90.2%,.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  border-radius: 10px;
}

[type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}  

form button {
  margin-top: 15px;
  padding: 5px;
  outline: none;
  width: 900px;
  color: #e6e3e3;
  border: 2px solid #ff5823;
  font-size: 12px;
  border-radius: 19px;
  background-color: #1f2235;
  font-size: 18px;
  width: 160px;
  align-items: center;
  justify-content: center;
}

input:focus{
  background-color: rgb(220, 230, 238);
}

textarea:focus{
  background-color: rgb(220, 230, 238);
}

